<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/mypage.css">
    <script src="/public/js/common.js" type="text/javascript"></script>
    <script src="/public/js/mypage.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>ToyMarket</title>
</head>
<body onload="automatic_required()">
    <div id="up_menu">
        <span id="logo"><a href="/public/main.html"><img src="/public/img/logo.png"></a></span>
        <form action="/search/name" method="GET" id="search">
            <input type="text" name="search_word" id="search_word" required>
            <button id="search_button" type="submit">검색</button>
        </form>
        <span id="up_a_menu" style="margin-left: 29.4%;">
            <a href='#' id='logout' onclick='logout()'>로그아웃</a>
            <a href="#" onclick="cart()">장바구니</a>
            <a href='#' id='mypage' onclick="mypage()">마이페이지</a>
            <form action="/go_cart" method="POST" name="go_cart">
            </form>
            <form action="/go_mypage" method="POST" name="go_mypage">
            </form>
        </span>
    </div>
    <div id="quick_menu">
        <span>퀵메뉴</span>
        <hr style= "border: 2px solid gray;">
        <span><a href="#" onclick="go_order_list()">주문 목록</a></span>
        <hr>
        <span><a href="#" id="cart" onclick="cart()">장바구니</a></span>
        <hr>
        <span><a href='#' id='mypage' onclick="mypage()">마이페이지</a></span>
        <span><button onclick="Go_top()">TOP</button></span>
    </div>
    <br><br><br><br><br><br>
    <div id="list_menu">
        <ul>
            <li><a href="/search/id?Bid=0">게임</a>
                <ul>
                    <li><a href="/search/id?Bid=0&Sid=0">닌텐도 3DS</a></li>
                    <li><a href="/search/id?Bid=0&Sid=1">닌텐도 스위치</a></li>
                    <li><a href="/search/id?Bid=0&Sid=2">선불카드</a></li>
                    <li><a href="/search/id?Bid=0&Sid=3">아미보</a></li>
                    <li><a href="/search/id?Bid=0&Sid=4">기타</a></li>
                </ul>
            </li>
            <li><a href="/search/id?Bid=1">퍼즐/블록</a>
            <ul>
                <li><a href="/search/id?Bid=1&Sid=0">레고</a></li>
                <li><a href="/search/id?Bid=1&Sid=1">옥스포드</a></li>
                <li><a href="/search/id?Bid=1&Sid=2">캐릭터 상품</a></li>
            </ul>
        </li>
            <li><a href="/search/id?Bid=2">인형</a>
            <ul>
                <li><a href="/search/id?Bid=2&Sid=0">캐릭터 인형</a></li>
                <li><a href="/search/id?Bid=2&Sid=1">피규어</a></li>
                <li><a href="/search/id?Bid=2&Sid=2">작동 인형</a></li>
                <li><a href="/search/id?Bid=2&Sid=3">동물 인형</a></li>
            </ul>
        </li>
            <li><a href="/search/id?Bid=3">야외/스포츠</a>
            <ul>
                <li><a href="/search/id?Bid=3&Sid=0">공</a></li>
                <li><a href="/search/id?Bid=3&Sid=1">낚시/골프</a></li>
                <li><a href="/search/id?Bid=3&Sid=2">비눗방울</a></li>
                <li><a href="/search/id?Bid=3&Sid=3">줄넘기</a></li>
            </ul>
        </li>
            <li><a href="/search/id?Bid=4">조종/기차/자동차</a>
            <ul>
                <li><a href="/search/id?Bid=4&Sid=0">변신 장난감</a></li>
                <li><a href="/search/id?Bid=4&Sid=1">조종 장난감</a></li>
                <li><a href="/search/id?Bid=4&Sid=2">수집 장난감</a></li>
            </ul>
        </li>
    </ul>
    </div>
    <br>
    <div class="mypage_menu">
        <ul>
            <li id="f"><a href="#" onclick="changeInfo_check()"><img src="/public/img/info_change.png" onclick="changeInfo_check()"><p>사용자 정보 관리</p></a></li>
            <li><a href="#" id="f2"><img src="/public/img/order_list.png" onclick="order_list()"><p onclick="order_list()">주문 목록</p></a></li>
            <li><a href="#"><img src="/public/img/cart.png" onclick="cart()"><p onclick="cart()">장바구니</p></a></li>
        </ul>
        <hr style="border: 2px solid black;">
    </div>
    <br>
    <div class="user_info">
        <h1 id="id"><%- user.name %>님은 현재 </h1> <h1 id="grade"><%- user.grade %>등급입니다.</h1>
        <p id="savings">적립금: <%- user.savings %></p>
    </div>
    <br>
    <hr style="border: 2px solid black;">
    <img src="/public/img/grade_ex.png" id="grade_ex">
    <hr style="border: 2px solid black;">
    <div class="bought_info">
        <h1>최근 주문한 상품</h1>
        <p style="font-size: small; color: gray;">최대 10개의 상품까지 저장됩니다.</p>
        <div id="history">
            <% if(bought != null){ %>
                <% for(let i = 0; i < bought.length; i++) { %>
                    <table>
                        <tr>
                            <td><a href="/product?id=<%- bought[i].id %>"><img src="/public/<%- bought[i].image %>"></a></td>
                            <td id="info">
                                <a href="/product?id=<%- bought[i].id %>" id="bought_name"><%- bought[i].name %></a><br><br>
                                <p id="bought_price"><%- bought[i].price %>원</p>
                                <p id="bought_sale_price"><%- bought[i].sale_price %>원</p>
                                <p id="bought_shipping_fee">배송비: <%- bought[i].shipping_fee %>원</p>
                            </td>
                        </tr>
                    </table>
                <% } %>
            <% }else { %>
                <h3>최근 주문한 상품이 없습니다.</h3>
            <% } %>
        </div>
    </div>
    <br>
    <hr style="border: 2px solid black;">
    <br>
    <div class="saw_info">
        <h1>최근 본 상품</h1>
        <p style="font-size: small; color: gray;">최대 10개의 상품까지 저장됩니다.</p>
        <div id="history">
            <% if(saw != null){ %>
                <% for(let i = 0; i < saw.length; i++) { %>
                    <table>
                        <tr>
                            <td><a href="/product?id=<%- saw[i].id %>"><img src="/public/<%- saw[i].image %>"></a></td>
                            <td id="info">
                                <a href="/product?id=<%- saw[i].id %>" id="saw_name"><%- saw[i].name %></a><br><br>
                                <p id="saw_price"><%- saw[i].price %>원</p>
                                <p id="saw_sale_price"><%- saw[i].sale_price %>원</p>
                                <p id="saw_shipping_fee">배송비: <%- saw[i].shipping_fee %>원</p>
                            </td>
                        </tr>
                    </table>
                <% } %>
            <% }else { %>
                <h3>최근 본 상품이 없습니다.</h3>
            <% } %>
        </div>
        <table>
    </div>
    <br><br>
    <hr style="border: 3px solid gray;"><br>
    <div id="under">
        <div class="under_notice">
            <a href="#">회사소개 </a>|
            <a href="#">법적고지 </a>|
            <a href="#">회원약관 </a>|
            <a href="#">광고/임대문의 </a>|
            <a href="#" class="im">개인정보처리방침 </a>|
            <a href="#">윤리경영</a>
        </div>
        <br>
        <div class="info">
            <p>대표이사: 도롱이</p>
            <p>사업자등록번호: 020-21-401</p>
            <p>고객센터: 1234-5678</p>
            <p>사업장주소: 대구광역시 달성군 구지면 감자타워 1층</p>
        </div>
    </div>
</body>
</html>